body {
    background-color: black;
    background-image: url('../../image/heaven.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

}

.wrap-changeinfo {
    color: white;
    font-size: 24px;
    width: 700px;
    background-color: rgba(255,255,255, .2);
    padding-bottom: 20px;
    margin: 0 auto;
}

.wrap-changeinfo table {
    width: 100%;
}

.wrap-changeinfo table {
    text-align: center;
}

.wrap-changeinfo table td {
    padding-top: 20px;
}

.wrap-changeinfo input {
    font-size: 18px;
    color: black;
}

.wrap-changeinfo table tr button { 
    width: 200px;
    padding: 12px;
    border-radius: 5px;
    border: none;
    background-color: #503396;
    color: white;
    font-size: 18px;
}

.wrap-changeinfo table tr button.change-mem-info { 
    width: 100px;
    padding: 12px;
    border-radius: 5px;
    border: none;
    background-color: #503396;
    color: white;
    font-size: 12px;
}

.mem-func{
	display: flex;
	flex-direction : row;
	justify-content: space-evenly;
	margin: 20px 10px;
}

button.change {
	width: 200px;
    padding: 12px;
    border-radius: 5px;
    border: none;
    background-color: #503396;
    color: white;
    font-size: 18px;
}

