<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<properties resource="driver.properties"/>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
		<setting name="jdbcTypeForNull" value="NULL"/>
	</settings>
	<typeAliases>
		<typeAlias type="education.model.dto.EduListDto" alias="EduListDto"/>
		<typeAlias type="education.model.dto.EduOneDto" alias="EduOneDto"/>
		<typeAlias type="education.book.model.dto.EduBookDto" alias="EduBookDto"/>
		<typeAlias type="education.book.model.dto.EduBookListDto" alias="EduBookListDto"/>
	</typeAliases>
	<environments default="development2">
		<environment id="development1">
			<transactionManager type="JDBC"></transactionManager>
			<dataSource type="POOLED">
				<property name="driver" value="${jdbc.driver}"/>
				<property name="url" value="${jdbc.url}"/>
				<property name="username" value="${jdbc.name}"/>
				<property name="password" value="${jdbc.password}"/>
			</dataSource>
		</environment>
		<environment id="development2">
			<transactionManager type="JDBC"></transactionManager>
			<dataSource type="POOLED">
				<property name="driver" value="${jdbc.driver}"/>
				<property name="url" value="${jdbc.semi.url}"/>
				<property name="username" value="${jdbc.semi.name}"/>
				<property name="password" value="${jdbc.semi.password}"/>
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="mappers/edu-mapper.xml"/>
		<mapper resource="mappers/edubook-mapper.xml"/>
		<!-- xxx-mapper.xml 생성 후 추가 -->
	</mappers>
</configuration>