body {
    background-color: black;
    background-image: url('../../image/heaven.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}


.wrap-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 800px;
}

.portrait{
    width: 1300px;
    height: 700px;
    background-color: transparent;
    position: relative;
    overflow: hidden;
}

.wrap-universe {
	position: absolute;
	bottom: 0px;
}

.star-cover {
	position: absolute;
    z-index: 1;
    opacity: 70%;
    bottom: 50px;
    left: 55px;
    transform: scale(1.1);
}

.universe{
    width : 1450px;
    height: 1450px;
    background: transparent;
    position: relative;
    top: 90px;
    left: -71px;
    display: flex;
    justify-content: center;
    transition: all 1s;
}

/* 버튼 영역 */
.buttonsection{
    position: absolute;
    width: 1400px;
    display: flex;
    justify-content: space-between;
}

.buttonsection > .direction{
    width: 5%;
}

.buttonsection button{
    text-indent: -9999px;
	opacity : 30%;
	border: none;
    background-color: transparent;
    cursor : pointer;
}

.buttonsection button:hover {
	opacity : 100%;
	transition: all 0.5s;
}

.buttonsection > .left > button {
    width: 25px;
    height: 40px;
    background-image: url("../../image/left-arrow2.png");
    background-repeat: no-repeat;
    margin: 0 auto;
    display: block;
}

.buttonsection > .right > button {
    width: 25px;
    height: 40px;
    background-image: url("../../image/right-arrow2.png");
    background-repeat: no-repeat;
    margin: 0 auto;
    display: block;
}

.compass {
	position: absolute;
    bottom: -80px;
    left: 70px;
    z-index: 1;
}

.season {
	text-align: center;
	font-size: 40px;
	margin-bottom: 40px;
}
