<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu">
	<!-- 교육 등록 -->
	<insert id="insert" parameterType="hashmap">
	INSERT ALL 
	INTO EDU_LIST
	<!-- 
	 (EDU_ID, EDU_SUBJECT, EDU_CONTENT, EDU_ADDRESS, EDU_PARTICIPANT, EDU_DAY, TO_CHAR(EDU_BOOK_START, 'YYYY-MM-DD') AS BS, TO_CHAR(EDU_BOOK_END, 'YYYY-MM-DD') AS BE, TO_CHAR(EDU_START, 'YYYY-MM-DD') AS ES, TO_CHAR(EDU_END, 'YYYY-MM-DD') AS EE, EDU_WRITE_TIME)
	 -->  
	VALUES ((SELECT NVL(MAX(EDU_ID), 0) + 1 FROM EDU_LIST), #{dto.eduSubject}, #{dto.eduContent}, #{dto.eduAddress}, #{dto.eduParticipant}, #{dto.eduDay}, #{dto.eduBookStart}, #{dto.eduBookEnd}, #{dto.eduStart}, #{dto.eduEnd}, DEFAULT) 
	<if test="filelist != null">
		<foreach collection="filelist" item="eduFileDto" index="idx" separator=" ">
		INTO EDU_FILE
		<!-- 
		 (EDU_FILE_ID, EDU_ID, EDU_FILE_PATH, EDU_ORIGINAL_FILE_NAME)
		 -->  
		VALUES (#{idx}, (SELECT NVL(MAX(EDU_ID), 0) + 1 FROM EDU_LIST), #{eduFileDto.eduFilePath}, #{eduFileDto.eduOriginalFileName}) 
		</foreach>
	</if>
	SELECT * FROM DUAL
	</insert>
<!-- 	
EDU_ID          NOT NULL NUMBER         
EDU_SUBJECT     NOT NULL VARCHAR2(100)  
EDU_CONTENT     NOT NULL VARCHAR2(4000) 
EDU_ADDRESS     NOT NULL VARCHAR2(300)  
EDU_PARTICIPANT NOT NULL VARCHAR2(30)   
EDU_DAY         NOT NULL VARCHAR2(6)    
EDU_BOOK_START  NOT NULL DATE           
EDU_BOOK_END    NOT NULL DATE           
EDU_START       NOT NULL DATE           
EDU_END         NOT NULL DATE           
EDU_WRITE_TIME  NOT NULL TIMESTAMP(6)
 -->	
</mapper>