<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edubook">
	<!-- 신청 내역 -->
	<select id="selectList" resultType="EduBookListDto">
	SELECT EB.EDU_PART_SCHOOL, EL.EDU_SUBJECT, M.MEMBER_NAME, EL.EDU_ADDRESS, TO_CHAR(EL.EDU_START, 'YYYY-MM-DD') ES, TO_CHAR(EL.EDU_END, 'YYYY-MM-DD') EE
	FROM EDU_BOOK EB
	JOIN EDU_LIST EL ON EB.EDU_ID = EL.EDU_ID
	JOIN MEMBER M ON EB.EDU_BOOK_ID = M.MEMBER_ID 
	</select>
	
	<!-- 회원 신청 교육 목록 -->
	<select id="selectMemList" parameterType="string" resultType="EduListDto">
	SELECT * FROM EDU_LIST
	WHERE EDU_ID IN (	
					SELECT EDU_ID
					FROM EDU_BOOK EB
					JOIN MEMBER M ON EB.EDU_BOOK_ID = M.MEMBER_ID
					WHERE M.MEMBER_ID = #{abcd}
					)
	</select>
	
	<!-- 교육 신청 -->
	<insert id="insert" parameterType="EduBookDto">
	INSERT INTO EDU_BOOK VALUES (#{eduBookId}, #{eduId}, #{eduBookPhone}, #{eduPartLevel}, #{eduPartName}, #{eduPartSchool})
	</insert>
	
</mapper>