
.contents{
    min-height: 300px;
    margin-top: 25px 10px 0 10px;
}
.board-view{
    border-top: 2px solid #403e70;
    margin-top: 100px;
}
.board-view .view-header{
    /* background: #fff; */
    border-bottom: 1px solid #cccfd5;
}
.board-view .view-header div{
    padding: 25px;
}
.board-view .title{
    font-size: 2.2rem;
    border-bottom: 2px solid #403e70;
}
.board-view .view-header div:first-child{
    border-top: none;
}

.board-view .view-header .info{
    font-size: 2.2rem;
    border-bottom: 2px solid #403e70;
    width: 100%;
    /* display: inline-block; */
}
.board-view .view-header .info dl{
    display: inline-block;
    width: 32%;
    margin-right: 0;
}
.board-view .view-header .info dl dt{
    float: left;
    width: 80px;
    font-size: 15px;
    /* display: table-cell; */
    position: relative;
    vertical-align: middle;
}

.board-view .view-header .info dl dt::after{
content: "|";
color: #221f1f;
position: absolute;
top: 50%;
right: 0;
margin-top: -11px;
}

.board-view .view-header .info dl dd{
    font-size: 16px;
    /* padding-left: 120px; */
    /* color: #221f1f; */
    font-weight: bold;
}
.board-view .view-header .file{
    display: inline-block;
    width: 100%;
}
.board-view .view-header .file dl{
    display: inline-block;
    /* width: 100%; */
    margin-right: 0;
}
.board-view .view-header .file dl dt{
    float: left;
    width: 80px;
    font-size: 15px;
    position: relative;
    vertical-align: middle;
}
.board-view .view-header .file dl dt::after{
content: "|";
color: #221f1f;
position: absolute;
top: 50%;
right: 0;
margin-top: -11px;
}
.board-view .view-header .file dl dd{
    font-size: 16px;
    padding-left: 80px;
    color: #221f1f;
    font-weight: bold;
}

.board-view .view-content{
    padding: 35px 30px;
    border-bottom: 1px solid #403e70;
    min-height: 150px;
}
.board-view .view-content .memo{
    font-size: 16px;
    line-height: 30px;
}
.board-view .view-btn{
    text-align: center;
    margin: 40px 0;
}
.board-view .view-btn button{
    background-color: #fff;
    border: 1px solid #c3c3c3;
    font-size: 15px;
    line-height: 35px;
    color: #544e4e;
    margin: 0 8px;
    cursor: pointer;
}

.comment{
    margin-top: 50px;
}
    
.comment-box{
    display: flex;
    width: 100%;
    margin-top: 40px;
    justify-content: center;
}
.comment-box input{
	background: transparent;
    width: 90%;
    border-width: 0 0 1px;
    border-color: white;
}

.comment-box button{
    border: none;
    margin-left: 100px;
    width: 5%;
    color: black;
	cursor:pointer;    
}
/* body > div.wrap-main > div > div.reply-wrap > form:nth-child(1) > div > div.rereplycontent.span */
.rereplycontent.span{
	display: flex;
    width: 100%;
    margin-top: 10px;
    justify-content: center;
}
.rereplycontent.span input{
	background: transparent;
    width: 946px;
    border-width: 0 0 1px;
    border-color: white;
    color: white;
}

.boardreply.grid {
	display: grid;
	grid-template-columns: 5fr 2fr 1fr 1fr;
	/* max-width: 800px; */
}

.boardreply.grid .rereplycontent.span {
	grid-column: 1/-1;
	display: none;
}
.boardreply.grid{
	margin-top:20px;
}

.boardreply.grid .btn.show.rereplycontent {
	border: none;
    margin-left: 10px;
    width: 53px;
    color: black;
    cursor:pointer;
} 
.boardreply.grid .btn.show.rereplyupdate {
	border: none;
    margin-left: 30px;
    width: 53px;
    color: black;
    cursor:pointer;
} 
.boardreply.grid .btn.show.rereplydelete {
	border: none;
    width: 53px;
    margin-left: 10px;
    color: black;
    cursor:pointer;
} 

.boardreply.grid .rereplycontent.span .btn.rereply {
	border: none;
    margin-left: 53px;
    width: 53px;
    color: black;
    cursor:pointer;
}
.boardreply.grid .reupdatecontent{
	display: none;
	background: transparent;
	border-width: 0 0 1px;
	border-color: white;
	color: white;
}
.boardreply.grid .btn.reupdate {
	display: none;
	border: none;
    margin-left: 53px;
    width: 53px;
    color: black;
    cursor:pointer;
}
.boardrereply.grid {
	display: grid;
	grid-template-columns: 5fr 2fr 1fr 1fr;
	/* max-width: 800px; */
}

.boardrereply.grid .rereplycontent.span {
	grid-column: 1/-1;
	display: none;
}
.boardrereply.grid{
	margin-top:20px;
}

.boardrereply.grid > div:first-child{
	margin-left : 100px;
}  

.reply-wrap .boardreply.grid .btn-show{
	display: flex;
}
.reply-wrap .boardrereply.grid .btn-show{
	display: flex;
}
.boardrereply.grid .btn.show.rereplycontent {
	border: none;
    margin-left: 10px;
    width: 53px;
    color: black;
    
} 
.boardrereply.grid .btn.show.rereplyupdate2 {
	border: none;
    margin-left: 30px;
    width: 53px;
    color: black;
    
} 
.boardrereply.grid .btn.show.rereplydelete {
	border: none;
    margin-left: 10px;
    width: 53px;
    color: black;
    
} 

.boardrereply.grid .rereplycontent.span .btn.rereply {
	border: none;
    margin-left: 53px;
    width: 53px;
    color: black;
    cursor:pointer;
}

.boardrereply.grid{
	background-color : rgb(255,255,255,0.3);
}
.boardrereply.grid .rereply-content{
	font-weight: bold;
	color: blue;
}
.boardrereply.grid .reupdatecontent{
	display: none;
	background: transparent;
	border-width: 0 0 1px;
	border-color: white;
	color: white;
}
.boardrereply.grid .btn.reupdate {
	display: none;
	border: none;
    margin-left: 53px;
    width: 53px;
    color: black;
    cursor:pointer;
}

.board-view .view-header .info .write-time{
	margin-left: 60;
    width: 280;
}

.board-view .view-header .info .hits{
	margin-left: 200px;
    width: 120px;
    display:inline-block; 
}
.board-view .view-header .info .hits dd{
	display:inline-block;
} 
.board-view .view-header .btn{
	float: right;	
}	
.board-view .view-header .btn .btn-update{
	color: black;
	cursor: pointer;	
}	
.board-view .view-header .btn .btn-delete{
	color: black;
	cursor: pointer;	
}	

.modal {
    position: absolute;
    display: none;
    justify-content: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal_body {
    position: absolute;
    top: 40%;
    /*모달을 화면가운데 놓기위함. */
    left: 41%;
    width: 400px;
    /*모달의 가로크기 */
    height: 200px;
    /*모달의 세로크기 */
    padding: 40px;
    text-align: center;
    background-color: #503396;
    /*모달창 배경색 흰색*/
    border-radius: 10px;
    /*테두리 */
    box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
    /*테두리 그림자*/
    transform: translateY(-50%);
    /*모듈창열었을때 위치설정 가운데로*/
}

.modal-btn {
    margin-top: 70px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.modal-btn #btn-delete-modalok {
    width: 70px;
    color : black;
}

.modal-btn #btn-delete-modalcancel {
    width: 70px;
    color : black;
}

.modal-btn .btn-reply-delete-modalok {
    width: 70px;
    color : black;
}

.modal-btn .btn-reply-delete-modalcancel {
    width: 70px;
    color : black;
}
.modal-btn .btn-rereply-delete-modalok {
    width: 70px;
    color : black;
}

.modal-btn .btn-rereply-delete-modalcancel {
    width: 70px;
    color : black;
}



